/* Shared styles */

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

* {
    font-family: 'Work Sans', sans-serif;
}

.btn-primary {
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 8px;
    background: #FF900E;
    padding: 1.25rem 1.563rem;
    border: none;
    cursor: pointer;
    margin-top: 1.25rem;
}

.text-light-gray {
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
}

/* Header Styles Nav */

header {
    background: rgba(255, 144, 14, 0.10);
    padding: 3.125rem 15rem;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: #131313;
    font-size: 2.813rem;
    font-weight: 700;
}

nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 1.875rem;
    font-weight: 500;
    font-size: 1.125;
}

nav li a {
    text-decoration: none;
    color: #424242;
}

/* Header banner Styles */

.banner-content {
    text-align: center;
    margin: 110px auto 50px auto;
    max-width: 50rem;
}

.banner-title {
    color: #131313;
    font-size: 4rem;
    font-weight: 700;
}


.banner img {
    width: 100%;
}

/* main sections styles */

main {
    max-width: 1440px;
    margin: 70px auto;
}


/* team sections styles */


.team {
    padding-right: 60px;
    padding-left: 60px;
    display: flex;
    align-items: center;
}

.team-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.team-content {
    padding-left: 70px;
    padding-right: 70px;
}

.team-content-title {
    color: #131313;
    font-size: 2.813rem;
    font-weight: 700;
}

.team-content-title-gray {
    color: #727272;
    font-weight: 500;
}

.team-content-title-orange {
    color: #FF900E;
}


/* Features sections styles */

.features {
    margin-top: 130px;
    display: flex;
    gap: 120px;
}

.features-left {
    margin-right: 70px;
}

.features-box-container {
    margin-top: 30px;
}

.features-title {
    border-left: 5px solid #FF900E;
    padding-left: 20px;
    color: #131313;
    font-size: 2.813rem;
    font-weight: 700;
}

.features-box {
    padding: 30px 33px;
    margin-bottom: 20px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
}

.ten-years-badge {
    padding: 45px 42px;
    text-align: center;
    width: 300px;
    color: #fff;
    background-color: #FF900E;
    border-radius: 8px;
    position: relative;
    bottom: 100px;
    right: 80px;
}

.ten-years-badge h4 {
    margin: 0;
    font-size: 4rem;
    font-weight: 700;
}

.ten-years-badge p {
    margin: 0;
    font-size: 1.5rem;
}


/* Facts sections styles */

.facts {
    margin: 120px 0;
}

.facts-content {
    max-width: 540px;
}

.facts-title {
    color: #131313;
    font-size: 2.813rem;
    font-weight: 700;
}

.facts-box-container {
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
}

.facts-box {
    border-radius: 8px;
    border: 1px solid #FF900E;
    padding: 2.813rem 2.5rem;
    text-align: center;
}

.facts-box-title {
    margin: 10px 0;
    color: #424242;
    font-size: 2.813rem;
    font-weight: 600;
}

.facts-box-description {
    color: #727272;
    font-size: 1.25rem;
    font-weight: 600;
}


/* Sponsor sections styles */

.sponsor {
    text-align: center;
}

.sponsor-content {
    max-width: 540px;
    margin: 0 auto;
}

.sponsor-title {
    margin: 0;
    color: #131313;
    font-size: 2.813rem;
    font-weight: 700;
}

.sponsor-img-container {
    margin-top: 50px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}


/* Footer sections styles */

footer {
    max-width: 1440px;
    margin: 120px auto;
}

.footer {
    padding: 30px 0;
    border-radius: 8px;
    background: #FFF4E7;
}

.footer-text {
    color: #424242;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 400;
}



/* Responsive Media quais */

/* Mobile devices */

@media screen and (max-width: 576px) {

    header {
        padding: 1.25rem;
    }

    nav, .team, .features {
        flex-direction: column;
    }

    main {
        padding: 0 20px;
    }

    .team-img {
        grid-template-columns: 1fr;
    }

    .team-content {
        padding: 0;
    }

    .features-left{
        margin: 0;
    }

    .facts-box-container,
    .sponsor-img-container {
        flex-direction: column;
        gap: 20px;
    }

    .sponsor-img-container {
        gap: 40px;
    }

    .facts-content {
        max-width: 100%;
        padding: 0 20px;
    }

    .footer {
        padding: 30px 20px;
    }

}


/* Tablet devices */

@media screen and (min-width: 576px) and (max-width: 960px) {

    header {
        padding: 1.25rem;
    }

    nav, .features{
        flex-direction: column;
    }

    main {
        padding: 0 20px;
    }

    .team {
        flex-direction: column;
        padding: 0 20px;
    }

    .team-content {
        padding: 0;
    }

    .features-right img{
        width: 100%;
    }

    .facts-box-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    .sponsor-img-container {
        flex-direction: column;
        gap: 40px;
    }
}